

* {
  box-sizing: border-box;
}

header {
  background: url(../assets/mando\ title\ gold\ png.png);
  background-size: 430px;
  padding: 57px;
  background-repeat: no-repeat;
  text-align: center;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url(../assets/desert\ mando.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: medium;
  font-family: 'Strait', sans-serif;
  font-weight: bolder;
}
/* 
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: end;
} */

.yoda {
  text-align: right;
  height: 69vh;
}
.game {
  display: flex;
  justify-content: center;
}

.scoreLives {
  background: darkgray;
  border: 5px solid white;
}

.grid-wrapper {
  height: 69vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 810px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 54px;
  width: 40px;
}

.grid div.mando {
  background-image: url(../assets/harrymando.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.troopers {
  background-image: url(../assets/sfirstorderpng.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.laser {
  background-image: url(../assets/red\ laser.png);
  background-size: cover;
}

.grid div.kill {
  background-image: url(../assets/blood\ explosion.png);
  background-size: cover;
}
