/* body {
  background-color: aqua;
} */

* {
  box-sizing: border-box;
}

header {
  background-image: url(../assets/Screenshot\ 2021-02-19\ at\ 12.46.55.png);
  background-size: 430px;
  padding: 57px;
  background-repeat: no-repeat;}

body {
  height: 100vh;
  margin: 0;
}

.grid-wrapper {
  height: 115vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  background-color: darkgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.grid div {
  border: lightgrey;
  flex-grow: 1;
  height: 62px;
  width: 40px;
}

.grid div.mando {
  background-image: url('../assets/harrymando.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.troopers {
  background-image: url('../assets/sfirstorderpng.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border-radius: 10px;
}

.grid div.laser {
  background-image: url('../assets/red-laser-beam-png.png');
}

.grid div.boom {
  background-image: url('../assets/blood-explosion-png.png');
}
